/*
Arquivo para edição do Estilo do Site AC1
*/

body {
    background-color: #ebe6d9;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    color: #181818;
}

h1, h2 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

p {
    font-size: 18px;
}

iframe {
    display: block;
    margin: auto;
}
    


